body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background-color: #F3F5F7;
}
p {
  margin: 0;
}

/* Layout main components */
.header {
  font-family: 'Nanum Gothic Coding', monospace;
  text-align: center;
}
.dataCards {
  display: flex;
  padding: 0.25vw;
}

/* Column settings */
.column1 {
  flex: 1;
  min-width: 50%;
  min-height: 80vh;
  display: block;
}
.column2 {
  flex: 2;
  min-width: 50%;
  min-height: 80vh;
  display: block;
}

/* Card */
.card {
  background: #FFFFFF;
  /* overflow: scroll; */
  text-overflow: ellipsis;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -o-text-overflow: ellipsis;
}
.card:hover {
  -webkit-box-shadow: 0 0 5px 0 #565A5C ;
  box-shadow: 0 0 5px 0 #565A5C ;
}
/* Product Categories */
.prodCategory {
  padding: 1rem;
  margin: 1% 1% 2.5% 2%;
  height: 50%;
}
/* Event Counts */
.eventCounts {
  padding: 1rem;
  margin: 1% 1% 2% 2%;
  height: 50%;
}
/* Top N Products */
.topNProd {
  padding: 1rem;
  margin: 1% 1% 2.5% 2%;
  height: 50%;
}

/* time series of events */
.timeSeries {
  padding: 1rem;
  margin: 1% 1% 2% 2%;
  height: 50%;
}


/* card components */
.cardTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
}
.cardMetrics {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  text-align: center;
}
.timeFilter {
  border-top: 1px solid rgba(162, 164, 163, 0.2); /* #A2A4A3 */
  margin: 1% 0 1% 0;
  padding-top: 0.5%;
  display: flex;
}


#selectedDateSleep, #selectedDateAudio {
  font-size: 0.8rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  text-align: center;
  width: 75%;
}
